body {
  background-color: coral;
}
body h1 {
  font-family: "Langar", cursive;
  color: black;
  text-align: center;
}

#card-deck{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px);
  width: 500px;
  margin: 0 auto;
  grid-gap: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* .card.turnOver {
  transform: rotateY(180deg);
} 
animate property to flip cards over*/

.start-game {
  background: rgb(87, 85, 85);
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
}

.game-content {
  color: black;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  margin: 50px;
  font-family: "Langar", cursive;

}

.card-front,
.card-back {
  width: 100%;
  background-color: brown;
  backface-visibility: hidden;
  cursor: pointer;
}

.card-front {
  display: none;
}
